div#content {
    clear: both;
    font-size: 18pt;
}
div#navbar {
    clear:both;
    border-top: solid 1px black;
    position: absolute;
    bottom: 0;
    width: 99%;
}
div#navbar button {
    margin: 0 1% 0 1%;
}
div#navbar button#nav_left {
    float: left;
    width: 20%;
}
div#navbar button#nav_top {
    float: left;
    width: 10%;
}
div#navbar button#nav_next {
    float: left;
    width: 41%;
}
div#navbar button#nav_right {
    float: right;
    width: 20%;
}

.skryt {
    display: none;
}

div.pisen {
    clear: both;
}
div.pisen label {
    clear: both;
    float: left;
    width: 5em;
}
div.pisen input {
    float: left;
    font-size: 166%;
    letter-spacing: 0.2em;

}
div.pisen button {
    float: left;
    width: 3em;
}
div.pisen div.spacer {
    clear: both;
    float: left;
    width: 5em;
}
div.pisen input#pisen {
    width: 3em;
    text-align: center;
}
div.pisen button#pisen_send {
    width: 6em;
}

div.sloka {
    clear: both;
}
div.kdy {
    font-style: italic;
}
div.nazev, div#nazev {
    float: left;
    font-weight: bold;
}
div#refren {
    display: none;
}

div#cislo {
    float: left;
    width: 3em;
    font-weight: bold;
    font-size: 166%;
}
div#info {
    clear: both;
    float: left;
    font-style: italic;
    font-size: 66%;
    left: 7.5em;
    position: relative;
    top: -1em;
}
